@charset "utf-8";
.titulo{text-align:center;
color:#3C9;
font-family:Georgia, "Times New Roman", Times, serif}
#primer{}
body{ background-image:url(bgg.jpg)}
nav{position:absolute;
margin:20px;
left:37%;
top:20%}
a{ text-decoration:none;
padding-right:18px;
color:#333;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;}
#giff{ height:25%;
width:35%}
#seg{ position:absolute;
top:35%;
left:44%;}
.enlaces:hover{ color:#F00;}
#music{ position:absolute;
top:90%;
left:77%}
#vid{width:500px;
height:300px;
position:absolute;
top:43%;
left:35%;}
