@charset "utf-8";
/* CSS Document */
body{
background-color:#FFC
}
.sitio {
color: #000
font-family:Verdana, Geneva, sans-serif
}
.sitio2{
color:#930
}
.sitio3{
color:#000
font-family:Verdana, Geneva, sans-serif
}
.p11{ background-color:#F96}
.p112{
background-color:#F96}
.colort{color:#930}