@charset "utf-8";
/* CSS Document */
body{ background:#F0E8D5;}
#pp{ width:100%;
height:60px;
background-color:#06F;}
#cont{position:absolute;
top:30%;
left:40%;
font-size:16px;}
#tt{position:absolute;
top:10%;
left:41%;
font-size:22px;
color:#06C;
font-family:"Times New Roman", Times, serif;}
#imag{ position:absolute;
top:19%;
left:43%;}
#ig{height:70px;
width:90px;}
#menu{position:absolute;
left:90%;
top:11%;}
a{text-decoration:none;}
.enlaces:hover{color:#09F;}